<!-- <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script> -->

<div class="container">
  <div class="row">
    <a href="/locations/new">Create Location</a>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <h4>Email</h4>
    </div>
    <div class="col-sm-2">
      <h4>Name</h4>
    </div>
    <div class="col-sm-2">
      <h4>Opening Time</h4>
    </div>
    <div class="col-sm-2">
      <h4>Closing Time</h4>
    </div>
    <div class="col-sm-2">
      <h4>Open/Close?</h4>
    </div>

  </div>
  <% @locations.each do |location| %>
    <div class="row">
      <p hidden class="location-id"><%= location.id %></p>
      <div class="col-sm-2">
        <h4><%= location.user.name %></h4>
      </div>
      <div class="col-sm-2">
        <a href="/locations/<%= location.id %>"><h4><%= location.name %></h4></a>
        <!-- <h4><%= location.name %></h4> -->
      </div>
      <div class="col-sm-2">
        <h4><%= location.opening_time %></h4>
      </div>
      <div class="col-sm-2">
        <h4><%= location.closing_time %></h4>
      </div>
      <div class="col-sm-2">
        <a href="" class="button-open-close">Open/Close?</a>
      </div>
      <div class="col-sm-2">
        <h4 class="is-open"></h4>
      </div>
    </div>
  <% end %>
</div>
